body {
	overflow: hidden;
}
.mui-content ul li input {
	margin-bottom: 0;
	font-size: 14px;
	border: 0;
}

.mui-table-view-cell {
	padding: 11.5px 15px;
}
input {
	height: 46px !important;
}
.pui-icon-add {
	font-weight: bold;
	color: #a9b7b7;
}

.mui-radio input[type=radio] {
	top: 9px;
}
