.mui-content ul li {
	position: relative;
}
.pui-slider-right {
	position: absolute;
	right: 0;
	top: 14px;
	font-size: 14px;
}
.pui-p-down i {
	margin-right: 5px;
	color: #56abe4;
}
.pui-p-down {
	margin-top: 5px;
}
.mui-table-view-chevron .mui-table-view-cell {
	padding-right: 15px !important;
}
