<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../ux_1473630887_6370625/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="createUser.css" />
		<title>创建用户</title>
	</head>

	<body>
		<header class="mui-bar">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left pui-a-left"></a>
			<h1 class="mui-title">创建代理商用户</h1>
			<a id="save" class="mui-pull-right pui-a-right" href="#">保存</a>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="#modal1">
						<span id="org">选择单位</span>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view mt10">
				<li class="mui-table-view-input mui-input-row">
					<input id="iccid" class="mui-input-clear" type="text" placeholder="输入19位ICCID号" />
				</li>
			</ul>
			<ul class="mui-table-view mt10">
				<li class="mui-table-view-input mui-input-row">
					<input id="username" class="mui-input-clear" type="text" placeholder="输入姓名" />
				</li>
			</ul>
			<ul class="mui-table-view mt10">
				<li class="mui-table-view-input mui-input-row">
					<input class="mui-input-clear" type="text" placeholder="输入手机号码" />
				</li>
			</ul>
			<ul class="mui-table-view mt30">
				<li class="mui-table-view-cell">
					<label for="">位置上报</label>
					<span></span>
					<div id="gps" class="mui-switch">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
			</ul>
			<ul id="OA_task_2" class="mui-table-view mt20">
				<li class="mui-table-view-cell">
					<span>加入群组</span>
					<a id="add" href="#modal" class="mui-pull-right" style="display:inline-block;" href=""><i class=" mui-icon mui-icon-plusempty pui-icon-add"></i></a>
				</li>
				<li class="mui-table-view-cell data" v-for="item in items" data-groupId="{{item.id}}">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-green" data-opera="default">默认</a>
						<a class="mui-btn mui-btn-red" data-opera="del" data-groupId="{{item.id}}">移除</a>
					</div>
					<div class="mui-slider-handle">
						{{item.name}}
					</div>
				</li>
			</ul>
			<div id="modal" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a id="listSave" class="mui-pull-right pui-a-right" href="#modal">保存</a>
					<h1 class="mui-title">选择加入的群组</h1>
				</header>
				<div class="mui-content" style="height: 100%;">
					<form class="mui-input-group" id="modalList1">
						<div class="mui-input-row mui-checkbox mui-left" v-for="data in datas">
							<label>{{data.name}}</label>
							<input name="checkbox" type="checkbox" data-account="{{data.id}}" value="{{data.name}}">
						</div>
					</form>
				</div>
			</div>
			<div id="modal1" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a id="listSave1" class="mui-pull-right pui-a-right" href="#modal1">保存</a>
					<h1 class="mui-title">选择单位</h1>
				</header>
				<div class="mui-content" style="height: 100%;">
					<form class="mui-input-group" id="modalList">
					</form>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var openid = localStorage.getItem("ptt_openid");
			var access_token = localStorage.getItem("access_token");
			//获取单位
			mui.ajax(req_url + '/api/v1/agent/orgs?access_token=' + access_token + '&openid=' + openid, {
				dataType: 'json', //服务器返回json格式数据
				type: 'GET', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒;
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				success: function(data) {
					if(data.code == 20001) {
						console.log(data)
						var html = "";
						for(var i = 0; i < data.data.length; i++) {
							html += '<div class="mui-input-row mui-radio mui-left">';
							html += '<label>' + data.data[i].corg_name + '</label>';
							html += '<input name="radio1" type="radio" value="' + data.data[i].corg_name + '" data-receiverType="4" data-account="' + data.data[i].id + '"></div>';
						}
						document.getElementById("modalList").innerHTML = html;
					} else {
						mui.alert(data.msg, function() {

						}, "提示", "确定");
					}
				},
				error: function(xhr, type, errorThrown) {
					console.log(type);
				}
			});
			//点击保存单位
			document.getElementById('listSave1').addEventListener('tap', function() {
				document.getElementById("org").innerHTML = document.querySelector("#modalList input:checked").value;
				document.getElementById("org").setAttribute("data-orgId", document.querySelector("#modalList input:checked").getAttribute("data-account"))
				loadGroupList(document.getElementById("org").getAttribute("data-orgId"));
				//清空上个单位的选择的群组
				listdata.items = [];
			});
			var groupdata = {
				datas: []
			};
			var groupVue = new Vue({
				el: "#modalList1",
				data: groupdata
			});
			var listdata = {
				items: []
			};
			var listVue = new Vue({
				el: "#OA_task_2",
				data: listdata
			});
			var loadGroupList = function(orgId) {
				var groupLIstUrl = req_url + "/api/v1/group/list?access_token=" + access_token + "&openid=" + openid;
				mui.ajax(groupLIstUrl, {
					data: {
						org_id: orgId
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'GET', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					success: function(data) {
						console.log("data:" + JSON.stringify(data));
						if(data.code == 20001) {
							groupdata.datas = data.data;
						}
					}
				});
			};
			document.getElementById('listSave').addEventListener('tap', function() {
				var list = document.querySelectorAll("#modalList1 input:checked");
				var items = [];
				for(var i = 0; i < list.length; i++) {
					items.push({
						id: list[i].getAttribute("data-account"),
						name: list[i].value
					})
				}
				listdata.items = items;
			});
			document.getElementById('save').addEventListener('tap', function() {
				var addUrl = req_url + "/api/v1/terminal/add?access_token=" + access_token + "&openid=" + openid;
				var orgId = document.getElementById("org").getAttribute("data-orgid");
				var iccid = document.getElementById("iccid").value;
				var name = document.getElementById("username").value;
				if(orgId == undefined || orgId == null || orgId == "") {
					mui.alert("请选择单位", "提示", "确定", function() {});
					return;
				}else if(iccid == undefined || iccid == null || iccid == "") {
					mui.alert("请输入ICCID", "提示", "确定", function() {});
					return;
				}else if(iccid.length!==19) {
					mui.alert("请输入19位iccid号",function(){
						
					},"提示","确定")
				}else if(name == undefined || name == null || name == "") {
					mui.alert("请输入姓名", "提示", "确定", function() {});
					return;
				}
				var sendData = {
					org_id: orgId,
					user_account: iccid,
					nickname: name,
					groups: []
				}
				var listgroup = document.querySelectorAll("#OA_task_2 li.data");
				for(var i = 0; i < listgroup.length; i++) {
					sendData.groups.push({
						id: listgroup[i].getAttribute("data-groupid")
					})
				}
				console.log("sendData:"+JSON.stringify(sendData));
				mui.ajax(addUrl, {
					data: sendData,
					dataType: 'json', //服务器返回json格式数据
					type: 'POST', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
					},
					success: function(data) {
						if(data.code==20001){
							mui.alert("添加成功","提示","确定",function(){});
							mui.back();
						}else{
							mui.alert(data.msg,"提示","确定",function(){});
						}
					}
				});
			});
			mui("#OA_task_2").on("tap","li.data a",function(){
				var opera = this.getAttribute("data-opera");
				document.getElementById("OA_task_2").removeChild(this.parentNode.parentNode);
			});
		</script>
	</body>

</html>