.mui-content ul li input {
	margin-bottom: 0;
	font-size: 14px;
	color: #333;
	border: 0;
}
.mui-table-view-cell {
	padding: 10.5px 15px;
}
.form-control {
	padding: 0;
}
a {
	text-decoration: none !important;
}

.pui-btn button {
	width: 50%;
}
.mui-content ul li label {
	color:#333 !important;
	font-weight: normal;
	margin-bottom: 0;
}
.mui-content ul li .pui-address {
	margin-right: 22px;
}
.mui-content ul li .pui-address span{
	color: #ccc !important;
	font-size: 14px;
}
