.mui-content>.mui-table-view:first-child {
	margin-top: 44px;
}


.mui-content ul li {
	position: relative;
}
.mui-content ul li label {
	color: #333;
}
.pui-icon-edit {
	position: absolute;
	right: 15px;
	top: 14px;
	color: #ccc;
}
.mui-content ul li label {
	color:#333
}
.mui-content ul li input {
	text-align: right;
	color: #ccc;
	padding-right: 36px;
}

.pui-span-right {
	margin-right: 20px;
	color: #ccc;
}
.mui-content ul li .pui-address {
	margin-right: 22px;
}
.mui-content ul li .pui-address span{
	color: #ccc !important;
	font-size: 14px;
}
